body {
    margin: 0;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    height: 100vh;
}

.container {
    height: 100%;
    border-radius: 20px;
    background-color: rgb(59, 82, 255);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.header, .footer {
    border-radius: 20px;
    background-color: rgb(152, 188, 255);
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 20px;
    background-color: rgb(59, 82, 255);
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}


.nav {
    border-radius: 20px;
    width: 20%;
    background-color: rgb(152, 188, 255);
    padding-top: 40px;
}


.section {
    border-radius: 20px;
    width: 55%;
    background-color: rgb(152, 188, 255);   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section span {

}


.section-header, .section-footer {
    border-radius: 20px;
    background-color: rgb(218, 175, 121);
    width: 95%;
    height: 8%;
    display: flex;
    align-items: center ;
    justify-content: center;
} 


.section-article {
    border-radius: 20px;
    background-color: rgb(218, 175, 121);
    width: 95%;
    height: 70%;
    display: flex;
    align-items: center ;
    justify-content: center;
}


.aside {
    border-radius: 20px;
    width: 20%;
    background-color: rgb(152, 188, 255);
    padding-top: 40px;
}
